
<h4 class="page-header ">Question</h4>
<%= @q.text %>
<br />
<br />
<h4 class="page-header ">Answers</h4>
<ul>
<% @q.answers.each do |a| %>
<li><%= a.text  + ( a.correct ? " (correct answer)" : "" )  %></li>
<% end %>
</ul>
